* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
header {
  background-color: rgb(40, 84, 104);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header h1 {
  padding: 2rem;
  text-align: centers;
  font-size: 3rem;
  color: white;
  display: flex;
}

header img {
  width: 7rem;
  height: 7rem;
}

/*MAIN*/
main {
  display: flex;
  justify-content: center;
  margin: 13.6rem;
}

div img {
  height: 5rem;
  width: 5rem;
}

/*CRASH*/
div:first-of-type {
  background-color: yellow;
  height: 10rem;
  width: 10rem;
}

.crash {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
}

/*HITHAT-CLOSE*/
div:nth-of-type(2) {
  background-color: orange;
  height: 10rem;
  width: 10rem;
}

.hithat-close {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
}

/*HITHAT-OPEN*/
div:nth-of-type(3) {
  background-color: orangered;
  height: 10rem;
  width: 10rem;
}

.hithat-open {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
}

/*KICK*/
div:nth-of-type(4) {
  background-color: darkgreen;
  height: 10rem;
  width: 10rem;
}

.kick {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
}

/*RIDE*/
div:nth-of-type(5) {
  background-color: chartreuse;
  height: 10rem;
  width: 10rem;
}

.ride {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
}

/*SNARE*/
div:nth-of-type(6) {
  background-color: beige;
  height: 10rem;
  width: 10rem;
}

.snare {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.2rem;
  margin-right: 1.5rem;
}

/*TOM_HIGH*/
div:nth-of-type(7) {
  background-color: brown;
  height: 10rem;
  width: 10rem;
}

.tom-high {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
}

/*TOM-MIDE*/
div:nth-of-type(8) {
  background-color: burlywood;
  height: 10rem;
  width: 10rem;
}

.tom-mid {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
}

/*TOM-LOW*/
div:last-of-type {
  background-color: chocolate;
  height: 10rem;
  width: 10rem;
}

.tom-low {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
}

/*FOOTER*/
footer {
  background: rgb(40, 84, 104);
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
