* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY*/
body {
  background-color: rgb(182, 216, 233);
}

/*HEADER*/
header {
  background-color: rgb(40, 84, 104);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header h1 {
  padding: 2rem;
  text-align: centers;
  font-size: 3rem;
  color: white;
  display: flex;
  font-family: "Bungee", cursive;
}

header p {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: white;
}

header img {
  width: 7rem;
  height: 7rem;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

/*MAIN*/
main {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

div img {
  height: 5rem;
  width: 5rem;
}

/*CRASH*/
div:first-of-type {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.crash {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
  color: white;
}

.crahs img {
  background-color: cornflowerblue;
}

/*HITHAT-CLOSE*/
div:nth-of-type(2) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.hithat-close {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
  color: white;
}

/*HITHAT-OPEN*/
div:nth-of-type(3) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.hithat-open {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
  color: white;
}

/*KICK*/
div:nth-of-type(4) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.kick {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
  color: white;
}

/*RIDE*/
div:nth-of-type(5) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.ride {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  margin-right: 1.5rem;
  color: white;
}

/*SNARE*/
div:nth-of-type(6) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.snare {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.2rem;
  margin-right: 1.5rem;
  color: white;
}

/*TOM_HIGH*/
div:nth-of-type(7) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.tom-high {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
  color: white;
}

/*TOM-MIDE*/
div:nth-of-type(8) {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.tom-mid {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
  color: white;
}

/*TOM-LOW*/
div:last-of-type {
  background-color: rgb(40, 84, 104);
  height: 10rem;
  width: 10rem;
}

.tom-low {
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-right: 1.5rem;
  color: white;
}

/*FOOTER*/
footer {
  background: rgb(40, 84, 104);
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
